<form id="userForm" method="post">
    <table class="editForm">
        <tr>
            <th>部门</th>
            <td><select class="depid" name="depid"></select></td>
            <th>职位</th>
            <td><select class="posid" name="posid"></select></td>
        </tr>
    </table>
</form>
<script>
    Option.getComboTree('.depid', '/admin/dep/tree');
    Option.getComboTree('.posid', '/admin/pos/tree');
    Option.FormTableBuild({
        select: '.editForm',
        url: '/admin/' + Module + '/field',
        group: 2,
        name: 'field',
        title: 'remark',
        class: '',
        ignoreField: ['type', 'pid','depid','posid']
    });



</script>