<form id="depForm" method="post">
    <table class="editForm">
        <tr>
            <th><label>上级:</label></th>
            <td><input  class="pid" name="pid"></td>
            <th><label></label></th>
            <td></td>
        </tr>
    </table>
</form>

<script>
    Option.getComboTree('.pid', '/admin/dep/tree');
    Option.FormTableBuild({
        select: '.editForm',
        url: '/admin/' + Module + '/field',
        group: 2,
        name: 'field',
        title: 'remark',
        class: '',
        ignoreField: ['type', 'pid']
    });
</script>