<table id="distributionGrid"></table>
<div id="distributionToolbar">
    <div class="searchForm">
        <a href="javascript:void(0)" onclick="Option.AddOpen()" class="easyui-linkbutton"
           data-options="iconCls:'icon-add',plain:true">添加</a>

        <a href="javascript:void(0)" onclick="Option.setStatus(9)" class="easyui-linkbutton"
           data-options="iconCls:'icon-close',plain:true">删除</a>
        <a href="javascript:void(0)" onclick="Option.Reload()" class="easyui-linkbutton"
           data-options="iconCls:'icon-reload',plain:true">刷新</a>

        <form id="distributionSearchForm" style="float: right">
            <select name="status" class="StatusSearch"></select>
            <input name="keyword" class="TextSearch">
        </form>
    </div>
</div>
<div id="distributionDiaLog">
    <form id="distributionForm" method="post" hidden="hidden">
        <table class="editForm">

        </table>
    </form>
</div>
<!--加载js-->
<script type="text/javascript" src="/ui/point/distribution/script.js"></script>
<script type="text/javascript">
    $(function () {
        Option.TextSearch('.TextSearch');
        Option.getSelectStatus('.StatusSearch');

    });
</script>