<script type="text/javascript">
    $(function () {
        $('#west_menu_check').tree({
            url: '/admin/index/menu?id=7',
            loadFilter: function (data) {
                if (data.d) {
                    return data.d;
                } else {
                    return data;
                }
            },
            onClick: function (node) {
                addTab(node.text, Qrck.baseHtmlUrl + node.alink + '.html');
            }
        });
    })
</script>
<div id="west_menu_check">
    <ul class="submenu"></ul>
</div>