<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Custom DataGrid Pager - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="/ui/themes/metro/easyui.css">
	<link rel="stylesheet" type="text/css" href="/ui/themes/icon.css">
	<script type="text/javascript" src="/ui/jquery.min.js"></script>
	<script type="text/javascript" src="/ui/jquery.easyui.min.js"></script>
</head>
<body>
	<table id="dg">	</table>
	<script type="text/javascript">
		$(function(){
			$('#dg).datagrid({
			    url: '/',
			    method: 'get',
			    iconCls: 'icon-view',
			    height: 650,
			    width: function () {
			        return document.body.clientWidth * 0.9
			    },
			    nowrap: true,
			    autoRowHeight: false,
			    selectOnCheck: false,
			    checkOnSelect: false,
			    fit: true,
			    fitColumns: true,
			    striped: true,
			    //ctrlSelect:true,
			    singleSelect: true,
			    collapsible: true,
			    rownumbers: true,
			    remoteSort: false,
			    pagination: true,
			    pageSize: 30,
			    pageList: [30, 60, 90],
			    sortName: 'id',
			    sortOrder: 'desc',
			    idField: 'id',
			    columns: columns,
			    toolbar: 
			    	var columns = [[
			    	    {field: 'ck', checkbox: true},
			    	    {title: '记录id', field: 'order_id', width: '6%', align: 'left', sortable: true},
			    	    {title: '用户名称', field: 'username', width: '10%', align: 'left', sortable: true},
			    	    {title: '部门', field: 'dep_name', width: '12%', align: 'left', sortable: true},
			    	    {title: '组别', field: 'group_name', width: '6%', align: 'left', sortable: true},
			    	    {
			    	        title: '操作', field: 'id', width: '20%', align: 'center',
			    	        formatter: function (value,row) {
			    	            return '<a href="javascript:void(0)">Edit</a>' +
			    	                '&nbsp;&nbsp;&nbsp;' +
			    	                '<a href="javascript:void(0)" >Delete</a>'
			    	        }
			    	    }
			    	]];
			});	
		})
	</script>
</body>
</html>