<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf8"/>
    <meta name="applicable-device" content="pc">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <title>ProductManagerSystem</title>
    <link rel="stylesheet" type="text/css" href="/ui/ui/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="/ui/ui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/ui/main/css/layout.css">
</head>
<body>
	
<div id="LoginBox">
    <form id="loginform" method="post">
        <table class="login">
            <tr>
                <th>User：</th>
                <td><input class="easyui-validatebox" type="text" name="username" id="username"></td>
            </tr>
            <tr>
                <th>Password：</th>
                <td><input class="easyui-validatebox" type="password" name="password" id="password"></td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" src="ui/jquery.min.js"></script>
<script type="text/javascript" src="ui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="ui/locale/easyui-lang-zh_CN.js"></script>

<script type="text/javascript" src="/ui/main/script/jquery.cookie.js"></script>
<script type="text/javascript" src="/ui/main/script/jquery.json.min.js"></script>
<script type="text/javascript" src="/ui/main/script/qrck.js"></script>
<script type="text/javascript" src="/ui/main/script/Tools.js"></script>
<script type="text/javascript" src="/ui/main/script/login.js"></script>
</body>
</html>