<table id="ruleGrid"></table>
<div id="ruleToolbar">
    <div class="searchForm">
        <a href="javascript:void(0)" onclick="Option.AddOpen()" class="easyui-linkbutton"
           data-options="iconCls:'icon-add',plain:true">添加</a>

        <a href="javascript:void(0)" onclick="Option.setStatus(9)" class="easyui-linkbutton"
           data-options="iconCls:'icon-close',plain:true">删除</a>
        <a href="javascript:void(0)" onclick="Option.Reload()" class="easyui-linkbutton"
           data-options="iconCls:'icon-reload',plain:true">刷新</a>

        <form id="ruleSearchForm" style="float: right">

        </form>
    </div>
</div>
<div id="ruleDiaLog">

</div>
<!--加载js-->
<script type="text/javascript" src="/ui/admin/rule/script.js"></script>
<script type="text/javascript">
    $(function () {
//        FromTools.TextSearch('.TextSearch');
//        FromTools.getSelectStatus('.StatusSearch');

    });
</script>