table.editForm {
    width:100%;
    margin: 15px auto;
    border: 1px solid #EEE;
    border-collapse: collapse;
    font-size: 12px;
    padding-bottom: 30px;

}

table.editForm th, td {
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #CCC;
}

table.editForm th {
    background-color: #F7f7f7;
    text-align: left;
}

table.editForm td {

    text-align: left;
}

table.editForm input.txt {
    width: 90%;
    padding: 3px 5px;
    line-height: 18px;
    border: none;
    background-color: #EEE;
}

table.editForm td.submitBox {
    text-align: center;
    padding: 30px;
}

.col-6 th, td {
    /*width: 16%;*/
}

.col-8 th, td {
    /*width: 9%;*/
}

table.editForm input {
    line-height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.textarea {
    width: 95%;
    resize: none;
    border: 1px solid #EEE;
    border-collapse: collapse;
    padding: 20px;

}

.measure {
    height: 150px;
}

.formGrid {
    overflow-y: hidden !important;
    height: 320px !important;
}

.export_pdf{
    display: block;
    text-align: right;
    margin:10px;
    padding:10px 5px;
    background-color: #f7f7f7;
}

.pr_form_post{
    width: 98%;
    margin:0 auto;
    overflow-y: inherit;
    height: 50%;
}

.subtitle{
    margin:5px 0;
}

.viewForm{
    width: 98%;
    margin:0 auto;
}
table caption{
    text-align: left;
    font-size:16px;
    font-weight: bold;
}

div.shareholder table.editForm th:nth-child(1){
    width: 10% !important;
}
div.shareholder table.editForm th:nth-child(2){
    width: 10% !important;
}
 div.shareholder table.editForm th:nth-child(3){
    width: 10% !important;
}
div.shareholder table.editForm th:nth-child(4){
    width: 10% !important;
}
 div.shareholder table.editForm th:nth-child(5){
    width: 10% !important;
}
 div.shareholder table.editForm th:nth-child(6){
    width: 10% !important;
}


span.textbox{
    line-height: 20px;
    margin-bottom: 4px;
}

/*  申报设置  */
form.prsettingForm{
    margin: 15px 20px;
}
form.prsettingForm .textbox{
    width: 220px;
}
.person_edu th:nth-child(1),
.person_work th:nth-child(1){
    width: 16.5%;
}
.sales th:nth-child(1){
    width: 20%;
}
.Market_data th:nth-child(1){
    width: 10%;
}
